<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="URL" value="10.191.13.92/IthmaarSIT/main.aspx?appid=b9bd6a7a-8290-4dff-966a-5bd8c60e0c52"/>
    <add key="UAT-URL" value="10.191.13.107/IthmaarUAT/main.aspx?appid=2caf4262-82e4-4794-a286-d0273d58b76d"/> 
    <add key="browser" value="Chrome"/>
    <add key="ControlsFilePath" value="\ObjectRepository\Objects.xlsx"/>
    <add key="Project" value="SeleniumCSharpMSTest"/>
    <add key="SenderEmail" value="testsender101@gmail.com"/>
    <add key="SenderEmailPassword" value="Testhouse@123"/>
    <add key="ReceiverEmail" value="testreceiver101@gmail.com"/>
    <add key="CCEmail" value=""/>
    <add key="BccEmail" value=""/>
    <add key="SMTPPort" value="587"/>
    <add key="SMTPServer" value="smtp.gmail.com"/>
  </appSettings>
</configuration>